/* Sidebar */
.sidebarShowButton {
  display: none !important;
}
.account_sidebar {
  width: 33.3333% !important;
}
@media (max-width: 1473px) {
  .sidebar {
    width: 30% !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
}

@media (max-width: 1033px) {
  .sidebar {
    width: 40% !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
  .account_sidebar {
    width: 50% !important;
  }
  .account_sidebar_h {
    height: fit-content !important ;
  }
  .accounts_text > #wordsworth {
    font-size: 40px !important;
  }
}

@media (max-width: 820px) {
  .sidebar {
    width: 50% !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
  .account_sidebar {
    width: 60% !important;
  }
  .account_sidebar_h {
    height: fit-content !important;
  }
  .accounts_text {
    display: none !important;
  }
}

@media (max-width: 680px) {
  .sidebar {
    width: 60% !important;
    position: absolute !important;
    background-color: rgb(0, 52, 89) !important;
  }
  .hide_slide {
    --tw-translate-x: -100% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  .sidebar_light {
    display: none !important;
  }
  .sidebarShowButton {
    display: flex !important;
    flex-direction: column !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
}

@media (max-width: 594px) {
  .sidebar {
    width: 70% !important;
  }
  .sidebarShowButton {
    display: flex !important;
    flex-direction: column !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
  .account_sidebar_h {
    height: fit-content !important;
  }
  .account_sidebar {
    width: 75% !important;
    /* height: fit-content !important !important; */
  }
  .fadedScroll {
    padding: 0 !important;
  }
}

/* Nuclear Option, Offcanvas */
@media (max-width: 484px) {
  .sidebar {
    width: 75.33% !important;
    position: absolute !important;
    background-color: rgb(0, 52, 89) !important;
  }
  .account_sidebar_h {
    height: fit-content !important;
  }
  .account_sidebar {
    width: 100% !important;
  }
  .hide_slide {
    --tw-translate-x: -100% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  }
  .bg-image-account  {
    background-size: cover !important;
  }
  .sidebar_light {
    display: none !important;
  }
  .sidebarShowButton {
    display: flex !important;
    flex-direction: column !important;
  }
  .fadedScroll {
    padding: 0 !important;
  }
}

.section_divider_top {
  padding-bottom: 50px !important;
  margin-bottom: 0px !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 80px))  !important;
}
.section_divider_bottom {
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%)  !important;
  margin-top: -40px !important;
}
.section_divider_top_invert {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 56px), 0 100%) !important;
  padding-bottom: 50px !important;
  margin-bottom: 0px !important;
}
.section_divider_bottom_invert {
  clip-path: polygon(0 56px, 100% 0, 100% 100%, 0 100%) !important;
  margin-top: -40px !important;
}

.section_divider_top_puzzle {
  z-index: 0 !important;
  padding-bottom: 100px !important;
  --top: linear-gradient(#000 0 0) top/100% calc(100% - 80px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) bottom/160px 160px no-repeat !important;
  -webkit-mask: var(--top) !important;
  mask: var(--top) !important;
}
.section_divider_bottom_puzzle {
  --bottom: radial-gradient(calc(10px + 80px) at 50% -10px, #0000 98%, #000) !important;
  -webkit-mask: var(--bottom) !important;
  mask: var(--bottom) !important;
  margin-top: -10px !important;
}
